body {
    font-family: Arial, sans-serif;
    background-image: url("paper.gif");
    text-align: center;
    margin: 0;
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #83cff7;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1ecbe1;
}

#quote-display {
    margin-top: 20px;
    font-size: 24px;
    color: #6fb6f7;
}
